.faint {
  font-weight: 100;
}

.btn {
  width: 34%;
  border: 1px solid white;
  height: 80px;
  font-size: 3rem;
  vertical-align: middle;
  font-weight: bolder;
}

.large {
  width: 100%;
  border: 1px solid white;
  height: 80px;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.red {
  background: rgb(160, 6, 6);
  color: white;
  font-size: 3rem;
  vertical-align: middle;
}

.faint {
  font-weight: 100;
}